*{
    padding: 0px;
    margin: 0px;
   
}
body{
    height: 100vh;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}
main{
    margin-top: 6rem;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.35);
    display: flex;
    text-align: center;
    border-radius: 1rem;
}
.btn{
    width: 100px;
    height: 40px;
    border-radius: 2rem;
    transition: all 0.2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:hover {
    background-color: #c5bbe8;
   
  }
.current{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e5ddff;
    margin: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 8rem;
    height: 3rem;
    padding: 3rem;
    border-radius: 1rem;
    font-size: 1rem;
}
img{
   position: absolute;
   width: 100px;
   top:40%;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 1rem;
}
.btn--hold{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,350%);
    height: 3rem;
    width: 10rem;
}
.btn--roll{
    position: absolute;
    left: 50%;
    top:40%;
    transform: translate(-50%,350%);
    height: 3rem;
    width: 12rem;
}
.btn--new{
    position: absolute;
    left: 50%;
    top:-5%;
    transform: translate(-50%,350%);
    height: 3rem;
    width: 12rem;
}
.player{
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
}
.score{
margin-top: 2rem;
margin-bottom: 7rem;
font-size: 4rem;
}

.btn{
    border: none;
   
    font-size: 1.2rem;
}
.active {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .current-text{
    font-size: 1.5rem;
    padding: 1rem;
  }